@import "normalize";
@import "base/typography.scss";
@import "utils/variables.scss";

body {
    max-width: 1920px;
    margin: 0 auto;  
    font-family: 'PT Serif', sans-serif;
}

.header {
    background: no-repeat ;
    background-size: cover;    
}

.header__top {
    display: flex;
    justify-content: space-between;

    padding: 40px;
    max-width: 100%;    
}

.header__logo {
    position: relative;    
}

.header__logo-pic {
    position: absolute;
    top: 20px; 
}

.header__logo-name {
    position: absolute;
    top: 10px;
    left: 27px;    

    font-family: "CafFranoise", sans-serif;
    font-size: 45px;
    color: $bs-yellow;
    text-transform: uppercase;
    white-space: nowrap;
}

.header__menu {
    margin-right: 5px;
}

.header__caption {
    text-align: center;

    font-style: italic;
    font-size: 40px;
    color: $bs-yellow;

    margin-top: 235px;
}

.header__title {
    display: flex;
    justify-content: center;    

    font-family: "CafFranoise", sans-serif;
    font-size: 120px;
    color: $bs-yellow;
    text-transform: uppercase;
    
    margin-top: 20px;
}

.header__title-line {
    position: relative;

    margin-left: 40px; 
    &::after {
        content: '';
        width: 255px;
        height: 10px;
        background-color: $bs-yellow;        
        display: block;
        position: absolute;
        top: 65px;
        left: -20px;        
    }
}

.header__button {
    display: flex;    
    justify-content: center;
    background-color: rgba($color: transparent, $alpha: 0.5);
    overflow: hidden;
    border: 3px solid $bs-yellow;
    border-radius: 10px;
    font-family: inherit;
    
    margin: auto;
    margin-top: 35px; 
}

.header__button-text {
    font-size: 25px;
    text-transform: uppercase;
    color: $bs-yellow;
    white-space: nowrap;    

    border-right: 3px solid $bs-yellow;
    padding: 10px 20px;
}

.header__button-arrow {
    padding: 16px;    
}

.header__pagination {
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    color: $bs-yellow;
    font-size: 18px;
    
    margin: auto;
    margin-top: 200px;
}

.header__pagination-left {
    display: flex;
    align-items: center;
}

.header__pagination-text {
    margin: 0 5px;
}

.header__pagination-center {
    display: flex;
    color: #8d6c00;

    margin: 0 35px;
}

.header__pagination-active {
    color: $bs-yellow;
}

.header__pagination-right {
    display: flex;
    align-items: center;
    flex-direction: row-reverse
}

.header__arrow {
    text-align: center;

    margin-top: 30px;
}