@import "normalize";
@import "base/typography.scss";
@import "utils/variables.scss";

body {
    max-width: 1920px;
    margin: 0 auto;  
    font-family: 'PT Serif', sans-serif;
}

.wrap {
    width: 1140px;
    margin: 0 auto;
}

// Header

.header {
    background: no-repeat ;
    background-size: cover;
    background-color: #101010;
    height: 100%;   
}

.header__top {
    display: flex;
    justify-content: space-between;

    padding: 40px;
    max-width: 100%;    
}

.header__logo {
    position: relative;    
}

.header__logo-pic {
    position: absolute;
    top: 20px; 
}

.header__logo-name {
    position: absolute;
    top: 10px;
    left: 27px;    

    font-family: "CafFranoise", sans-serif;
    font-size: 45px;
    color: $bs-yellow;
    text-transform: uppercase;
    white-space: nowrap;
}

.header__menu {
    margin-right: 5px;
}

.header__caption {
    text-align: center;

    font-style: italic;
    font-size: 40px;
    color: $bs-yellow;

    margin-top: 235px;
}

.header__title {
    display: flex;
    justify-content: center;    

    font-family: "CafFranoise", sans-serif;
    font-size: 120px;
    color: $bs-yellow;
    text-transform: uppercase;
    
    margin-top: 20px;
}

.header__title-line {
    position: relative;

    margin-left: 40px; 
    &::after {
        content: '';
        width: 255px;
        height: 10px;
        background-color: $bs-yellow;        
        display: block;
        position: absolute;
        top: 65px;
        left: -20px;        
    }
}

.header__button {
    display: flex;    
    justify-content: center;
    background-color: rgba($color: transparent, $alpha: 0.5);
    overflow: hidden;
    border: 3px solid $bs-yellow;
    border-radius: 10px;
    font-family: inherit;
    
    margin: auto;
    margin-top: 35px; 
}

.header__button-text {
    font-size: 25px;
    text-transform: uppercase;
    color: $bs-yellow;
    white-space: nowrap;    

    border-right: 3px solid $bs-yellow;
    padding: 10px 20px;
}

.header__button-arrow {
    padding: 16px;    
}

.header__pagination {
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    color: $bs-yellow;
    font-size: 18px;
    
    margin: auto;
    margin-top: 200px;
}

.header__pagination-left {
    display: flex;
    align-items: center;
}

.header__pagination-text {
    padding: 0 5px;
}

.header__pagination-center {
    display: flex;
    color: #8d6c00;

    margin: 0 35px;
}

.header__pagination-active {
    color: $bs-yellow;
}

.header__pagination-right {
    display: flex;
    align-items: center;
    flex-direction: row-reverse
}

.header__arrow {
    text-align: center;

    margin-top: 30px;
    margin-bottom: 70px;
}

// Intro Section

.intro {    
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    background-color: #101010;
    padding: 70px 0 0;
    margin-top: -1px;
}

.intro__main {
    width: 1420px;
    position: absolute;
    left: 50%;    
    transform: translate(-50%);    
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;    
        
    background-image: url('../img/martin-arusalu.png');
    background-repeat: no-repeat;          
}

.intro__main-wrap {
    width: 1140px;
    margin: 0 auto;   
    display: flex;
    justify-content: flex-end;
    align-items: center;

    padding: 0 140px;
}

.intro__main-box {
    width: 560px;
    margin: 250px 0;  
    background-color: $bs-yellow;
     
}

.intro__main-inner {
    padding: 90px 40px;
}

.intro__main-title {      
    font-size: 60px;
    font-style: italic;
    
    margin: 0;  
}

.intro__main-subtitle {
    color: #010100;
    font-family: Lato, sans-serif;
    font-size: 25px;
    font-weight: 700;

    margin: 25px 0 0;
}

.intro__main-text {
    color: #000000;
    font-family: "PT Serif";
    font-size: 19px;
    font-weight: 400;
    line-height: 35px;   

    margin: 30px 0 0;
}

.intro__main-btn {    
    margin: 30px 0 0;
}

// Module Button

.button {
    display: flex;
    border: 3px solid #000000;
    border-radius: 10px;

    background-color: rgba($color: $bs-yellow, $alpha: 0.5);
}

.button__text {
    font-size: 25px;
    text-transform: uppercase;
    border-right: 3px solid;
    margin: -1px 0;

    padding: 10px 20px;
}

.button__arrow {
    fill: #000000;

    padding: 15px 10px 10px 15px;
}

//End Module

// Event Section

.event {
    position: relative;
    height: 1200px;         
}

.event__bg {
    position: absolute;
    width: 100%;
    height: 100%;    
    display: flex;
    justify-content: space-between;
    z-index: -1; 
    background-color: #202020;
}

.event__img-right {
    align-self: flex-end;
}

.event__wrap {
    color: white;
    display: flex;
    justify-content: space-between;

    padding: 115px 0 0;
}

// Module Caption 

.caption {
    font-size: 36px;
    font-weight: bold;
    
    &:after {
        content: "";
        display: block;
        width: 30px;
        height: 3px;
        background-color: white;
        margin-top: 15px;        
    }
}

//End Module

.event__content { 
   width: 740px;
}

.event__text {
    margin: 0 0 40px;
    line-height: 26px;
}

.event__schedule {
    font-weight: bold;
    color: #f7ce2d;

    padding-top: 15px;    
}

.event__date {
    font-size: 26px;

    margin-right: 25px;
}

.event__time {
    font-size: 19px;
}

.event__list {
    font-size: 19px;

    margin: 30px 0 0;
}

.event__item {   
    line-height: 30px;

    margin: 0 0 25px;

    &:last-child {
        margin-bottom: 0;
    }
} 

.event__item-inner {
    margin-left: 10px;
}

.event__form-wrap {
    width:  760px;    
    position: absolute;
    margin: 100px 0 0;
    left: 50%;
    transform: translate(-50%);
    background-color: $bs-yellow;
}

.event__form {
    padding: 70px 45px;
}

.event__form-title {
    text-align: center;
    color: #010100;
    font-family: Lato;
    font-size: 36px;
    font-weight: 700;

    margin: 0 0 30px;
}

.event__form-inner {
    display: flex;
    flex-wrap: wrap;

    justify-content: space-between;
}

.event__form-cell {
    width: 320px;
    display: flex;
    flex-direction: column;
    
    margin-bottom: 30px;
}

.event__cell-name {
    font-size: 19px;
    font-weight: 700;
    color: #010100;

    margin-bottom: 15px;
}

.event__cell-input {
    height: 45px;
    border: 3px solid #000000;
    border-radius: 10px;
    background-color: #dca800;
    padding-left: 20px;
    box-sizing: content-box;  

        &:placeholder-shown {
            padding: 0;
            padding-left: 20px;                       
        }

        &::placeholder {
            color: #010100;
            opacity: 0.5;
        }
}

.event__cell-select {
    height: 45px;   

    padding-left: 20px;
}

.event__form-btn {
    margin: 0 auto;
}